body {
  font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
  color: #fff;
  padding: 50px;
  width: 300px;
  margin: 0 auto;
  background-color: black;
  /* background-image: url("./clock.jpeg"); */
  /* background-image: linear-gradient(
    rgba(0, 0, 255, 0.5),
    rgba(255, 255, 0, 0.5)
  ); */

  text-align: center;
  justify-content: center;
}

h1 {
  font-size: 100px;
}

.container {
  margin: 60% auto;
}

button {
  display: inline;
  background-color: black;
  border-radius: 10px;
  border: 0;
  box-shadow: 5px;
  margin: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  justify-content: center;
}
